@page
@model RecruitCatmorepp.Pages.Companies.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>@Model.Company.CompanyName</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.CompanyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.JobPosition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.JobPosition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.MinSalary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.MinSalary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.MaxSalary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.MaxSalary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.JobLocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.JobLocation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Industry)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Industry.IndustryId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.CompanyAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.CompanyAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.AnnualRevenue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.AnnualRevenue)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Company.CompanyId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
